#ProductsPage{
    width: 100%;
    .manage-bar{
        display: block;
        padding: 20px;
       input{
           width: 80%;
       }
        a{
            float: right;        
        }
    }
   
}